*
{
    box-sizing: border-box;
}
body
{
    font-family: sans-serif;
}
h1
{
    text-align: left;
    color: green;
    margin-bottom: auto;
    margin-left: auto;
    content: 80px;
}
.menu-bar
{
    background-color: gray;
    text-align: center;
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
}
.menu-bar ul li
{
    width: auto;
    margin: auto;
    padding: 15px;
}
